[{*}]
<div class="center-block text-center">
	[{* Telefonnummer *}]
	[{*oxifcontent ident="trotelefon" object="_cont"}]
	<a href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=contact"}]" title="[{oxmultilang ident="WIDGET_SERVICES_CONTACTS"}]">
		<div id="">
			[{$_cont->oxcontents__oxcontent->value}]
		</div>
	</a>
	[{/oxifcontent}]
</div>
[{*}]